@import "tailwindcss";

.loader {
  border-top-color: #06b6d4; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



 